In [2]:
a = [1, 2, -5, 0.3, 6, -2, 4]
b = ["one", "two","three"]
c = [True, True, True, False, True]
print(a)
print(b)
print(c)

[1, 2, -5, 0.3, 6, -2, 4]
['one', 'two', 'three']
[True, True, True, False, True]

In [3]:
import numpy as np
cells = [3, 15, -27, 38]
r_felix = ["R1", "R2"]
c_felix = ["C1", "C2"]
felix_matrix = np.matrix(cells).reshape(2,2)
print(felix_matrix)

[[  3  15]
 [-27  38]]

In [4]:
import pandas as pd
import numpy as np

felix1 = [1,2,3,4]
felix2 = ['red', 'white', 'red', np.nan]
felix3 = [True, True, True, False]

dataku = pd.DataFrame({'ID': felix1, 'Color': felix2, 'Passed':felix3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [5]:
import pandas as pd
data_felix = pd.DataFrame({'ID': list('abcdefghij'), 'X': list(range(1, 11)), 'Y': list(range(11, 21))})
print(data_felix)

  ID   X   Y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20

In [6]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d9/91/007a0d60fee8db4f7385075dc50bf62d2d359b417b374ec06b06ce6c2d64/mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
    --------------------------------------- 0.2/15.4 MB 4.2 MB/s eta 0:00:04
   - -------------------------------------- 0.6/15.4 MB 6.6 MB/s eta 0:00:03
   -- ------------------------------------- 1.1/15.4 MB 7.5 MB/s eta 0:00:02
   --- ------------------------------------ 1.5/15.4 MB 7.8 MB/s eta 0:00:02
   ----- ---------------------------------- 2.0/15.4 MB 8.4 MB/s eta 0:00:02
   ------ --------------------------------- 2.5/15.4 MB 9.2 MB/s eta 0:00:02
   ------- -------------------------------- 3.0/15.4 MB 9.7 MB/s eta 0:00:02
   --------- ------------------------------ 3.7/15.4 MB 9.8 MB/s eta 0:00:02
   ---------- ----------------------------- 4.1/15.4 MB 9.8 MB/s eta 0:00:02
   ------------ --------------------------- 4.6/15.4 MB 9.9 MB/s eta 0:00:02
   ------------- -------------------------- 5.1/15.4 MB 10.2 MB/s eta 0:00:02
   -------------- ------------------------- 5.5/15.4 MB 9.7 MB/s eta 0:00:02
   --------------- ------------------------ 6.0/15.4 MB 10.0 MB/s eta 0:00:01
   ---------------- ----------------------- 6.5/15.4 MB 10.1 MB/s eta 0:00:01
   ------------------ --------------------- 7.1/15.4 MB 10.0 MB/s eta 0:00:01
   ------------------- -------------------- 7.6/15.4 MB 10.4 MB/s eta 0:00:01
   --------------------- ------------------ 8.2/15.4 MB 10.4 MB/s eta 0:00:01
   ---------------------- ----------------- 8.7/15.4 MB 10.5 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.4 MB 10.3 MB/s eta 0:00:01
   ------------------------- -------------- 9.9/15.4 MB 10.6 MB/s eta 0:00:01
   --------------------------- ------------ 10.4/15.4 MB 10.9 MB/s eta 0:00:01
   ---------------------------- ----------- 11.0/15.4 MB 11.3 MB/s eta 0:00:01
   ----------------------------- ---------- 11.4/15.4 MB 11.3 MB/s eta 0:00:01
   ------------------------------- -------- 12.0/15.4 MB 11.3 MB/s eta 0:00:01
   -------------------------------- ------- 12.4/15.4 MB 11.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.1/15.4 MB 11.3 MB/s eta 0:00:01
   ----------------------------------- ---- 13.7/15.4 MB 11.5 MB/s eta 0:00:01
   ------------------------------------- -- 14.3/15.4 MB 11.7 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.4 MB 11.7 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 11.9 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 11.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
import mysql.connector

connection = mysql.connector.connect(
host='localhost',
user='root',
password='',
database='houseprices'
)

cursor = connection.cursor()

try:
    my_query = "SELECT*FROM houseprices___houseprices;"
    cursor.execute(my_query)
    
    result = cursor.fetchall()
    
    print('\nHasil query:')
    
    for row in result:
        print(row)
        
finally:
    cursor.close()
    connection.close()

Hasil query:
(114300, 1790, 2, 2, 2, 'No', 'East')
(114200, 2030, 4, 2, 3, 'No', 'East')
(114800, 1740, 3, 2, 1, 'No', 'East')
(94700, 1980, 3, 2, 3, 'No', 'East')
(119800, 2130, 3, 3, 3, 'No', 'East')
(114600, 1780, 3, 2, 2, 'No', 'North')
(151600, 1830, 3, 3, 3, 'Yes', 'West')
(150700, 2160, 4, 2, 2, 'No', 'West')
(119200, 2110, 4, 2, 3, 'No', 'East')
(104000, 1730, 3, 3, 3, 'No', 'East')
(132500, 2030, 3, 2, 3, 'Yes', 'East')
(123000, 1870, 2, 2, 2, 'Yes', 'East')
(102600, 1910, 3, 2, 4, 'No', 'North')
(126300, 2150, 3, 3, 5, 'Yes', 'North')
(176800, 2590, 4, 3, 4, 'No', 'West')
(145800, 1780, 4, 2, 1, 'No', 'West')
(147100, 2190, 3, 3, 4, 'Yes', 'East')
(83600, 1990, 3, 3, 4, 'No', 'North')
(111400, 1700, 2, 2, 1, 'Yes', 'East')
(167200, 1920, 3, 3, 2, 'Yes', 'West')
(116200, 1790, 3, 2, 3, 'No', 'East')
(113800, 2000, 3, 2, 4, 'No', 'North')
(91700, 1690, 3, 2, 3, 'No', 'North')
(106100, 1820, 3, 2, 3, 'Yes', 'North')
(156400, 2210, 4, 3, 2, 'Yes', 'East')
(149300, 2290, 4, 3, 3, 'No', 'North')
(137000, 2000, 4, 2, 3, 'No', 'West')
(99300, 1700, 3, 2, 2, 'No', 'East')
(69100, 1600, 2, 2, 3, 'No', 'North')
(188000, 2040, 4, 3, 1, 'Yes', 'West')
(182000, 2250, 4, 3, 3, 'Yes', 'West')
(112300, 1930, 2, 2, 2, 'Yes', 'North')
(135000, 2250, 3, 3, 3, 'Yes', 'East')
(139600, 2280, 5, 3, 4, 'Yes', 'East')
(117800, 2000, 2, 2, 3, 'No', 'North')
(117100, 2080, 3, 3, 3, 'No', 'North')
(117500, 1880, 2, 2, 2, 'No', 'North')
(147000, 2420, 4, 3, 4, 'No', 'West')
(131300, 1720, 3, 2, 1, 'No', 'West')
(108200, 1740, 3, 2, 2, 'No', 'North')
(106600, 1560, 2, 2, 1, 'No', 'East')
(133600, 1840, 4, 3, 2, 'No', 'West')
(105600, 1990, 2, 2, 3, 'No', 'East')
(154000, 1920, 3, 2, 1, 'Yes', 'East')
(166500, 1940, 3, 3, 2, 'Yes', 'West')
(103200, 1810, 3, 2, 3, 'No', 'East')
(129800, 1990, 2, 3, 2, 'No', 'North')
(90300, 2050, 3, 2, 6, 'No', 'North')
(115900, 1980, 2, 2, 2, 'No', 'East')
(107500, 1700, 3, 2, 3, 'Yes', 'North')
(151100, 2100, 3, 2, 3, 'Yes', 'East')
(91100, 1860, 2, 2, 3, 'No', 'North')
(117400, 2150, 2, 3, 4, 'No', 'North')
(130800, 2100, 3, 2, 3, 'No', 'North')
(81300, 1650, 3, 2, 3, 'No', 'North')
(125700, 1720, 2, 2, 2, 'Yes', 'East')
(140900, 2190, 3, 2, 3, 'Yes', 'East')
(152300, 2240, 4, 3, 3, 'No', 'West')
(138100, 1840, 3, 3, 1, 'No', 'West')
(155400, 2090, 4, 2, 1, 'No', 'West')
(180900, 2200, 3, 3, 1, 'No', 'West')
(100900, 1610, 2, 2, 2, 'No', 'North')
(161300, 2220, 4, 3, 2, 'No', 'West')
(120500, 1910, 2, 3, 2, 'No', 'East')
(130300, 1860, 3, 2, 2, 'No', 'West')
(111100, 1450, 2, 2, 1, 'Yes', 'North')
(126200, 2210, 3, 3, 4, 'No', 'North')
(151900, 2040, 4, 3, 3, 'No', 'East')
(93600, 2140, 3, 2, 4, 'No', 'North')
(165600, 2080, 4, 3, 3, 'No', 'West')
(166700, 1950, 3, 3, 3, 'Yes', 'West')
(157600, 2160, 4, 2, 1, 'No', 'West')
(107300, 1650, 3, 2, 3, 'No', 'North')
(125700, 2040, 3, 3, 2, 'No', 'East')
(144200, 2140, 3, 3, 3, 'No', 'West')
(106900, 1900, 2, 2, 2, 'No', 'North')
(129800, 1930, 3, 2, 2, 'No', 'West')
(176500, 2280, 4, 3, 3, 'Yes', 'West')
(121300, 2130, 3, 2, 3, 'No', 'North')
(143600, 1780, 4, 2, 1, 'No', 'West')
(143400, 2190, 3, 3, 4, 'Yes', 'East')
(184300, 2140, 4, 3, 2, 'Yes', 'West')
(164800, 2050, 2, 2, 1, 'Yes', 'West')
(147700, 2410, 3, 3, 2, 'No', 'East')
(90500, 1520, 2, 2, 3, 'No', 'North')
(188300, 2250, 4, 3, 2, 'Yes', 'West')
(102700, 1900, 4, 2, 4, 'No', 'North')
(172500, 1880, 3, 3, 1, 'Yes', 'West')
(127700, 1930, 3, 3, 2, 'No', 'North')
(97800, 2010, 2, 2, 4, 'No', 'North')
(143100, 1920, 4, 2, 2, 'No', 'West')
(116500, 2150, 3, 2, 2, 'No', 'East')
(142600, 2110, 3, 2, 2, 'No', 'West')
(157100, 2080, 3, 3, 2, 'No', 'East')
(160600, 2150, 4, 3, 3, 'Yes', 'West')
(152500, 1970, 2, 2, 1, 'Yes', 'West')
(133300, 2440, 3, 3, 3, 'No', 'East')
(126800, 2000, 2, 2, 1, 'Yes', 'East')
(145500, 2060, 3, 2, 1, 'No', 'West')
(171000, 2080, 3, 3, 2, 'Yes', 'West')
(103200, 2010, 3, 2, 5, 'No', 'North')
(123100, 2260, 3, 3, 5, 'No', 'East')
(136800, 2410, 3, 3, 4, 'No', 'East')
(211200, 2440, 4, 3, 3, 'Yes', 'West')
(82300, 1910, 3, 2, 4, 'No', 'East')
(146900, 2530, 4, 3, 4, 'No', 'West')
(108500, 2130, 3, 2, 4, 'No', 'North')
(134000, 1890, 3, 2, 1, 'Yes', 'East')
(117000, 1990, 3, 3, 3, 'Yes', 'East')
(108700, 2110, 3, 2, 3, 'No', 'East')
(111600, 1710, 2, 2, 1, 'No', 'North')
(114900, 1740, 2, 2, 2, 'No', 'North')
(123600, 1940, 2, 2, 2, 'Yes', 'East')
(115700, 2000, 3, 2, 3, 'Yes', 'North')
(124500, 2010, 4, 3, 2, 'No', 'East')
(102500, 1900, 3, 3, 3, 'No', 'North')
(199500, 2290, 5, 4, 1, 'Yes', 'West')
(117800, 1920, 3, 2, 2, 'No', 'North')
(150200, 1950, 3, 2, 3, 'Yes', 'North')
(109700, 1920, 2, 2, 4, 'No', 'North')
(110400, 1930, 2, 3, 3, 'No', 'North')
(105600, 1930, 3, 3, 3, 'No', 'East')
(144800, 2060, 2, 2, 1, 'Yes', 'East')
(119700, 1900, 3, 3, 3, 'Yes', 'East')
(147900, 2160, 4, 3, 3, 'Yes', 'East')
(113500, 2070, 2, 2, 2, 'No', 'North')
(149900, 2020, 3, 3, 1, 'No', 'West')
(124600, 2250, 3, 3, 4, 'No', 'North')

In [12]:
import pandas as pd 
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

df_filtered = df[df['Brick'] == 'No']

print('\nHasil Filter:')
print(df_filtered)

Hasil Filter:
      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
120  110400  1930         2          3       3    No        North
121  105600  1930         3          3       3    No         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[86 rows x 7 columns]

In [14]:
import pandas as pd 
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

df_filtered = df[(df['Brick'] == 'Yes') | (df['Neighborhood'] == 'East')]

print('\nHasil Filter:')
print(df_filtered)

Hasil Filter:
      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
118  150200  1950         3          2       3   Yes        North
121  105600  1930         3          3       3    No         East
122  144800  2060         2          2       1   Yes         East
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East

[68 rows x 7 columns]

In [1]:
import mysql.connector

connection = mysql.connector.connect(
host='localhost',
user='root',
password='',
database='ps2[felix]'
)

cursor = connection.cursor()

try:
    my_query = "SELECT*FROM data_mahasiswa___sheet1;"
    cursor.execute(my_query)
    
    result = cursor.fetchall()
    
    print('\nHasil query:')
    
    for row in result:
        print(row)
        
finally:
    cursor.close()
    connection.close()

Hasil query:
('felix', 65002300001, '1/1/2005', 171, 'p')
('dewanto', 65002300002, '1/2/2005', 165, 'p')
('bambang', 65002300003, '1/3/2005', 175, 'p')
('rayyan', 65002300004, '1/4/2005', 172, 'p')
('bayu', 65002300005, '1/5/2005', 130, 'p')
('vira', 65002300006, '1/5/2005', 175, 'p')
('adit', 65002300007, '1/5/2005', 163, 'p')
('rayhan', 65002300008, '1/5/2005', 180, 'p')
('jett', 65002300009, '1/5/2005', 158, 'p')
('imam', 65002300010, '1/5/2005', 170, 'p')
('faiz', 65002300011, '1/5/2005', 168, 'p')
('dony', 65002300012, '1/5/2005', 185, 'p')
('monic', 65002300013, '1/5/2005', 155, 'w')
('syifa', 65002300014, '1/5/2005', 169, 'w')
('daniel', 65002300015, '1/5/2005', 160, 'p')
('naya', 65002300016, '1/3/2005', 172, 'w')
('putri', 65002300017, '1/3/2005', 130, 'w')
('ranggi', 65002300018, '1/3/2005', 175, 'p')
('nadhira', 65002300019, '1/3/2005', 163, 'w')
('dafa', 65002300020, '1/3/2005', 180, 'p')

In [2]:
import pandas as pd 
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

df_filtered = df[df['gender'] == 'w']

print('\nHasil Filter:')
print(df_filtered)

Hasil Filter:
       nama          nim       ttl  tinggi gender
12    monic  65002300013  1/5/2005     155      w
13    syifa  65002300014  1/5/2005     169      w
15     naya  65002300016  1/3/2005     172      w
16    putri  65002300017  1/3/2005     130      w
18  nadhira  65002300019  1/3/2005     163      w